<packages>
    <package id="Avalonia" version="11.0.0" />
    <package id="Avalonia.Angle.Windows.Natives" version="2.1.0.2023020321" />
    <package id="Avalonia.BuildServices" version="0.0.28" />
    <package id="Avalonia.Desktop" version="11.0.0" />
    <package id="Avalonia.FreeDesktop" version="11.0.0" />
    <package id="Avalonia.Native" version="11.0.0" />
    <package id="Avalonia.Remote.Protocol" version="11.0.0" />
    <package id="Avalonia.Skia" version="11.0.0" />
    <package id="Avalonia.Themes.Simple" version="11.0.0" />
    <package id="Avalonia.Win32" version="11.0.0" />
    <package id="Avalonia.X11" version="11.0.0" />
    <package id="HarfBuzzSharp" version="2.8.2.3" />
    <package id="HarfBuzzSharp.NativeAssets.Linux" version="2.8.2.3" />
    <package id="HarfBuzzSharp.NativeAssets.WebAssembly" version="2.8.2.3" />
    <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.3" />
    <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.3" />
    <package id="MicroCom.Runtime" version="0.11.0" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
    <package id="SkiaSharp" version="2.88.3" />
    <package id="SkiaSharp.NativeAssets.Linux" version="2.88.3" />
    <package id="SkiaSharp.NativeAssets.WebAssembly" version="2.88.3" />
    <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" />
    <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" />
    <package id="System.Buffers" version="4.4.0" />
    <package id="System.Buffers" version="4.5.1" />
    <package id="System.ComponentModel.Annotations" version="4.5.0" />
    <package id="System.Drawing.Common" version="6.0.0" />
    <package id="System.IO.Pipelines" version="6.0.0" />
    <package id="System.Memory" version="4.5.3" />
    <package id="System.Memory" version="4.5.4" />
    <package id="System.Numerics.Vectors" version="4.4.0" />
    <package id="System.Numerics.Vectors" version="4.5.0" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
    <package id="System.ValueTuple" version="4.5.0" />
    <package id="Tmds.DBus.Protocol" version="0.15.0" />
</packages>
